body {
    font-family: 'Arial', sans-serif;
    background-color: #fff;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.calculator {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 300px;
    color: #f9f5f5;
}

.display {
    text-align: right;
    padding: 10px;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    font-size: 1.5rem;
    border: none;
    outline: none;
    text-align: right;
    background-color: #fff;
    color: #000; 
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

button {
    border: none;
    padding: 20px;
    font-size: 1.5rem;
    background: #fff;
    cursor: pointer;
    transition: background 0.2s, color 0.2s;
    color: #000;
}

button:hover {
    background: #b83333;
}

.operator {
    background: #6722fd;
    color: #fff;
}

.number {
    background: #877eef;
}

button:active {
    background: #fff;
}

.button {
    background: #888;
}

button:active {
    background: #ddd;
}
